*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
}

.blog{
  text-align: center;
  padding: 20px;
}

.cards{
  display: flex;
  gap: 20px;
  margin-top: 30px;
  justify-content: center;
}

.csrd{
  width: 300px;
  text-align: left;
}

.csrd img{
  width: 100%;
  height: auto;
}

.date{
  font-size: 14px;
  color: gray;
}

